body {
  font-family: "Bitter", serif;
}

.font-dosis {
  font-family: "Dosis", sans-serif !important;
}

/* definisco le variabili css dove conservo il valore Hex del colore */
:root {
  --det-color: #053328;
  --sec-color: #1A3535;
  --acc-color: #593959;
}

/* testo */
.tx-1 {
  color: var(--det-color);
}

.tx-2 {
  color: var(--sec-color);
} 

.tx-acc {
  color: var(--acc-color);
} 

/* bgc */

.bg-1 {
  background-color: var(--det-color);
}

.bg-2 {
  background-color: var(--sec-color);
}

.bg-acc {
  background-color: var(--acc-color) !important;
}

/* border */
.borde-1 {
  border-bottom: 4px solid var(--det-color) !important;
}

.borde-2 {
  border-bottom: 4px solid var(--sec-color) !important;
}

.borde-acc {
  border-bottom: 4px solid var(--acc-color) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.design-underline {
  position: relative;
}

.design-underline::after {
  position: absolute;
  content: '';
  bottom: -10%;
  left: 0%;
  width: 30%;
  height: 10%;
  background-color: var(--sec-color);
}

.destinazione-sticky {
  position: sticky;
  top: 150px;
}

.bg-image {
  background-image: url(./assets/mountain.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}